.body {
  box-sizing: border-box;
  width: 100%;
  font-family: "Nunito", sans-serif;
}

.container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  grid-gap: 100px;
  background-color: white;
  width: 100%;
  font-family: "Nunito", sans-serif;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.profile .member {
  width: 40px;
  height: 40px;
  fill: #abc4ff;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-radius: 20px;
  background-color: #d7e3fc;
  height: 100%;
  color: white;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.nav .sort {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 100%;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
.nav .nav-item {
  border-radius: 10px;
  width: 10%;
  height: 60%;
  font-weight: 700;
}
.nav .current-item {
  background-color: #abc4ff;
  color: white;
}
.nav .add {
  background-color: #abc4ff;
  color: white;
  text-align: center;
  margin-right: 20px;
}

.note {
  display: flex;
  flex-direction: column;
  background-color: #edf2fb;
  border-radius: 20px;
  text-align: center;
}
.note p {
  margin-left: 20px;
  margin-right: 20px;
}
.note .delete {
  width: 40%;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
  color: #abc4ff;
  font-weight: 700;
  border-color: #abc4ff;
  background-color: white;
  font-family: "Nunito", sans-serif;
}
.note .edit {
  width: 40%;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
  color: #abc4ff;
  border-color: #abc4ff;
  font-weight: 700;
  background-color: white;
  font-family: "Nunito", sans-serif;
}

.login {
  background-color: #abc4ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border-radius: 20px;
  width: 50%;
}
.login input {
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
}
.login .description {
  height: 150px;
}
.login button {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  height: 30px;
  color: #abc4ff;
  background-color: white;
  font-family: "Nunito", sans-serif;
  border-radius: 20px;
}
.login .discard {
  background-color: red;
}
.login .error {
  border: 2px solid red;
  color: red;
}
.login .invalid {
  color: #abc4ff;
}

.sign-up {
  background-color: #d7e3fc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  width: 50%;
  border-radius: 20px;
}
.sign-up input {
  margin-bottom: 30px;
  border-radius: 10px;
  border: none;
}
.sign-up .description {
  height: 150px;
}
.sign-up button {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  height: 30px;
  color: #ccdbfd;
  background-color: white;
  font-family: "Nunito", sans-serif;
  border-radius: 20px;
}
.sign-up .discard {
  background-color: red;
}

.main1 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}
.main1 h1 {
  color: #abc4ff;
}

.main2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  font-family: "Nunito", sans-serif;
  margin-top: 100px;
  border-radius: 20px;
  background-color: white;
}

.main3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 83, 83, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: none;
  border: none;
}
.main3 .curent-note {
  border-color: #edf2fb;
  margin-top: 5px;
  width: 50%;
  height: 50%;
  background-color: #d7e3fc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
}
.main3 .curent-note input {
  margin-top: 3px;
  height: 30px;
  width: 50%;
  border-radius: 10px;
  border-color: #abc4ff;
}
.main3 .curent-note .updated-text {
  height: 200px;
}
.main3 .curent-note .buttons-edit {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.main3 .curent-note button {
  border-radius: 20px;
  color: #abc4ff;
  border-color: #abc4ff;
  background-color: #edf2fb;
  width: 30%;
  height: 60px;
}

.main4 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 83, 83, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: none;
  border: none;
}
.main4 .new-note {
  width: 50%;
  height: 50%;
  background-color: #d7e3fc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
}
.main4 .new-note input {
  margin-top: 3px;
  height: 30px;
  width: 50%;
  border-radius: 10px;
  border-color: #abc4ff;
}
.main4 .new-note .new-text {
  height: 200px;
}
.main4 .new-note .buttons-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.main4 .new-note button {
  border-radius: 20px;
  color: #abc4ff;
  border-color: #abc4ff;
  background-color: #edf2fb;
  width: 40%;
  height: 60px;
  margin-bottom: 10px;
}
.main4 .new-note label {
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
