 .nav {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     list-style: none;
     border-radius: 20px;
     background-color: white;
     height: 100%;
     color: #54BAB9;
     width: 90%;
     margin: auto;
     margin-top: 20px;
     & .sort {
         display: flex;
         flex-direction: row;
         width: 70%;
         height: 100%;
         list-style: none;
         justify-content: space-around;
         align-items: center;
     }
     & .nav-item {
         border-radius: 10px;
         width: 10%;
         height: 60%;
     }
     & .current-item {
         background-color: #54BAB9;
         color: white;
     }
     & .add {
         background-color: #54BAB9;
         color: white;
         text-align: center;
         margin-right: 20px;
     }
 }