.sign-up {
    background-color: #d7e3fc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    width: 45%;
    border-radius: 20px;
    & h3 {
        margin-left: 10px;
    }
    & input {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
        border-radius: 10px;
        border: none;
    }
    & label {
        margin-left: 10px;
    }
    & .description {
        height: 150px;
    }
    & button {
        width: 50%;
        margin: auto;
        margin-bottom: 20px;
        height: 30px;
        color: #ccdbfd;
        background-color: white;
        font-family: 'Nunito', sans-serif;
        border-radius: 20px;
    }
    & .discard {
        background-color: red;
    }
}