.body {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-gap: 100px;
    background-color: white;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}